<h1>Orders#order_created_email</h1>

<p>Order Created:</p>
 <table>
   <thead>
    <tr>
      <td></td>
    </tr>
   </thead>
   <tbody>
   <tr>
     <td>#: </td>
     <td><%= @id %></td>
   </tr>
   <tr>
     <td>order name: </td>
     <td><%= @name %></td>
   </tr>
   <tr>
     <td>description: </td>
     <td><%= @description %></td>
   </tr>
   </tbody>
 </table>
