<h1>Order Created:</h1>
 <table>
   <tbody>
   <tr>
     <td>#: </td>
     <td><%= @id %></td>
   </tr>
   <tr>
     <td>order name: </td>
     <td><%= @name %></td>
   </tr>
   <tr>
     <td>description: </td>
     <td><%= @description %></td>
   </tr>
   </tbody>
 </table>
